anyio==4.7.0
bip39==0.0.2
click==8.1.7
fastapi==0.115.6
grpcio==1.68.1
h11==0.14.0
idna==3.10
maturin==1.7.8
protobuf==5.29.1
protobuf3==0.2.1
pydantic==1.10.19
pyln-grpc-proto==24.2.1
sniffio==1.3.1
starlette==0.41.3
typing_extensions==4.12.2
uvicorn==0.32.1
